body {
  background-color: black;
  color: white; }

h1 {
  color: red; }
  
  html, body, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: red;
  }
