$colorgb: salmon;
$widthh1: 400px;

body{
    background-color: $colorgb;
    color: white;
}
h1{
    color: $myPink;
    width: $widthh1;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: red;
  
}

ul{
  list-style: none;
  padding: 0;
  margin: 60px 0px;
  
  li{
    display: inline-block;
    
    a{
      text-decoration: none;
      color: aliceblue;
      padding: 20px;
      background-color: aqua;

    }
  }
}